@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Readex+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-weight: bold;
    color: #00BD62;
}

/* logo */

#logo {
    font-family: 'Lavishly Yours', cursive, sans-serif;
    color: #FF6917;
    font-size: 300%;
    float: none;
    text-align: center;
}

/* headings */

h1,
h2 {
    font-family: 'Lavishly Yours', cursive, sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: #252525;
}

/* navigation */

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

#navigation li {
    float: left;
    width: 25%;
    text-align: center;
  }

  #navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }