@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Readex+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
}

/* logo */

#logo {
    color: #FF6917;
    background-color: whitesmoke;
    font-size: 300%;
    text-align: center;
    float: none;
}

/* headings */

h1, h2 {
    font-family: 'Lavishly Yours', cursive, sans-serif;
    letter-spacing: 5px;
}

/* navigation */

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

#navigation li {
    float: left;
    width: 25%;
    text-align: center;
}

#navigation a {
    display: block;
    color: #FF6917;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lavishly Yours', cursive, sans-serif;
    font-size: 250%;
}

#navigation a:hover {
    color: #00BD62;
    transition: 500ms linear;
    transform: scale(1.5);
}