@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
    background-color: whitesmoke;
    
}

/* logo */

#logo {
    color: #004D73;
    font-size: 300%;
    text-align: center;
    float: none;
    font-family: 'Roboto', sans-serif;
}

/* headings */

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 250%;
    margin: 1%;
    color: #FF6917;
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 250%;
    margin: 1%;
    color: whitesmoke;
}



/* navigation */

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation li {
    float: left;
    width: 33%;
    text-align: center;
}

#navigation a {
    display: block;
    color: #004D73;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

#navigation a:hover {
    color: #FF6E26;
    transition: 500ms linear;
    transform: scale(1.1);
}

/* main image and cover text*/

#image {
    height: 600px;
    width: 100%;
    background: url(../images/italian-cuisine.webp) no-repeat center center;
    background-size: cover;
}

#main-image-text {
    
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#cover-text {
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    top: 50px;
   
    position: absolute;
    background-color: rgba(206, 246, 255, 0.6);
    text-align: center;
    
    
}

#cover-text > h3 {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    top: 175px;
    right: 50px;
    position: absolute;
    background-color: rgba(206, 246, 255, 0.6);
    
}

/* reasons */

#reasons {
    height: 1200px;
}

#reasons > h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 250%;
    margin: 1%;
    color: #004D73 ;
}

#reason-one {
    width: 70%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;

}

.reasons-list {
    list-style-type:circle;
    font-family: 'Anek Malayalam', sans-serif;
}

#image1 {
    height: 250px;
    width: 25%;
    float: right;
    background: url(../images/image1.jpg) no-repeat center center;
    background-size: cover;
    border: 1px solid #004D73 ;
    margin: 0.5%;
    
}

#image2 {
    height: 250px;
    width: 25%;
    float: right;
    background: url(../images/image2.jpg) no-repeat center center;
    background-size:cover ;
    border: 1px solid #004D73;
    margin: 0.5%;
}

#image3 {
    height: 250px;
    width: 25%;
    float: right;
    background: url(../images/image3.jpg) no-repeat center center;
    background-size:cover ;
    border: 1px solid #004D73;
    margin: 0.5%;
}

#image4 {
    height: 250px;
    width: 25%;
    float: right;
    background: url(../images/image4.jpg) no-repeat center center;
    background-size:cover ;
    border: 1px solid #004D73;
    margin: 0.5%;
}

hr {
    border-top: 3px solid #FF6917;
    width: 50%;
    margin: 5px 0;
}





/* footer */

.social-networks {
    text-align: center;
    background-color:#DFF8D5;
    color: #FF6E26; 
    
     
}

.social-networks > li {
    display: inline;
    font-weight: bold;
    margin-right: 10px;
    
}

.social-networks i {
    font-size: 100%;   
    color: #FF6E26;
    padding: 5px;
    
}

/*Menu Page*/

#menu {  
    width: 100%;
    overflow: hidden;
}

#menu > ul {
    width: 33%;
    margin-left: 350px;
    margin-top: 350px;
    position: absolute;
    color: #004D73;
    text-align: center;    
}


.menu-list {
    list-style-type: none;
}

.menu-list > p {
    font-style: italic;
    font-size: 125%;
}

.menu-list > li {
    font-size: 150%;
    font-weight:bold;
}

#menu-image {
    height: 1100px;
    width: 100%;
    background: url(../images/menu-background.jpg) no-repeat center center ;
    background-size: cover;   
}

/* Contact Page*/


.contact-form {
    height: 800px;
    width: 100%;
    background: url(../images/contact-us-img.jpg) no-repeat center center;
    background-size: cover;
    
}

.form {
    background-color: rgba(0, 77, 115, 0.6);
    margin: 50px 300px;
    color: #fff;
    
    position: absolute;
    
    padding: 30px ;
    
}

.subject {
    width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form > h2 {
    color: whitesmoke;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: whitesmoke;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #FF6917;
}

.contact-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #FF6917;
    color: whitesmoke;
    display: block;
}

.contact-button:hover {
    color: #004D73;
    transition: 500ms linear;
    transform: scale(1.1);
}

/* form */

.confirm {
    background-color: rgba(0, 77, 115, 0.6);
}

.confirm-txt {
    width: 50%;
    margin: 20px auto;
    text-align: center;
  }
  
  .confirm-txt h4 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2;
    padding: 1em;
  }
  
  .redirect {
    width: 50%;
    align-content: center;
    margin: 20px auto;
    text-align: center;
  }
  
  .redirect h4 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 2em;
  }

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #reasons {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #image1, #image2, #image3, #image4 {
        display: none;
    }

    #logo {
        width: 90%;
        text-align: center;
    }

    #cover-text {
        font-size: 100%;
        text-align: center;
        margin-left: 10px;
    }

    #footer {
        width: 100%;
        font-size: 50%;
        float: left;
        margin: 0 auto; 
    }

    #menu-image {
        display: none;
    }

    .menu-list > li {
        color: whitesmoke;
        text-shadow: 2px 2px 2px black ;
        text-align: center;
        margin-right: 15%;
        
    }

    .menu-list > p {
        color: whitesmoke;
        text-shadow: 2px 2px 2px black ;
        text-align: center;
        margin-right: 15%;
    }

    #menu > ul {
        position:relative;
        width: 100%;
        height: 1200px;
        margin: 0 auto;
        background: url(../images/menu-resposive-background.jpg) no-repeat center center;
        background-size: cover;
        
    }

    .form {
        
        margin: 50px auto;
    }
  
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #navigation {
        clear:left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .redirect {
        width: 75%;
      }
    
      .redirect p {
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1.5;
        padding: 2em;
      }
}